<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/dashboard/"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li>
            <a href="#submenu2" data-toggle="collapse"><i class="fas fa-list-ul"></i> Home</a>
            <ul id="submenu2" class="list-unstyled collapse">
                <li><a href="/vis-home-top"> Topo</a></li>
                <li><a href="/vis-home-serv"> Serviços</a></li>
                <li><a href="/vis-home-video"> Vídeo</a></li>
                <li><a href="/vis-home-exp"> Experiência</a></li>
            </ul>

        </li>
        <li><a href="/sobre/vis-sobre"> Sobre</a></li>
        <li><a href="/rodape/vis-rodape"> Rodapé</a></li>
        <li><a href="/usuario/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>