<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Imagem da página Sobre</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/sobre/vis-sobre" class="btn btn-outline-primary btn-sm">Visualizar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/sobre/vis-sobre">Visualizar</a>
                    </div>
                </div>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form method="POST" action="/sobre/update-sobre-img" enctype="multipart/form-data">
            <input name="_id" type="hidden" value="{{sobre._id}}">

            <div class="form-group">
                <label>Imagem do Topo (1890px x 1080px, jpg)</label>
                <input name="file" type="file" class="form-control" id="file">
            </div>
                  
            <button type="submit" class="btn btn-warning">Salvar</button>
        </form>
    </div>
</div>