<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Home - Vídeo</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/vis-home-video" class="btn btn-outline-primary btn-sm">Visualizar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/vis-home-video">Visualizar</a>
                    </div>
                </div>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form method="POST" action="/update-home-video">
            <input name="_id" type="hidden" value="{{video._id}}">

            <div class="form-group">
                <label>Título do Vídeo</label>
                <input name="titulo" type="text" class="form-control" id="titulo" placeholder="Título do Vídeo" value="{{video.titulo}}">
            </div>
            <div class="form-group">
                <label>Subtítulo do Vídeo</label>
                <input name="subtitulo" type="text" class="form-control" id="subtitulo"
                    placeholder="Subtítulo do Vídeo" value="{{video.subtitulo}}">
            </div>
            <div class="form-group">
                <label>Link do Vídeo</label>
                <input name="urlvideo" type="text" class="form-control" id="urlvideo"
                    placeholder="Link do Vídeo" value="{{video.urlvideo}}">
            </div>
                  
            <button type="submit" class="btn btn-warning">Salvar</button>
        </form>
    </div>
</div>