<div class="jumbotron descr-top">
        <div class="container text-center">
            <h1>{{hometopo.titulo}}</h1>
            <p class="lead mb-4">{{hometopo.subtitulo}}</p>
            <a class="btn btn-lg btn-outline-light" href="{{hometopo.urlbtn}}" role="button">{{hometopo.titulobtn}}</a>
        </div>
</div>

